body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

.ant-layout-header{
  background-color: white;
}
.span-tag-text{
 font-weight: bolder;
}

#tags .ant-list-items{
  overflow: auto;
  max-height: 400px;
}

#checks .ant-space-item{
  min-width: 10%;
}

#right-tracker .ant-space-item:nth-child(2){
  min-width: 90%;

}

.steps-content{
  display: flex;
  justify-content: center;
}

.styled-form{
  width: 50%;
  border-radius: 4px;
  background-color:white !important;
  margin: 2em !important;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  
  box-shadow:         3px 3px 5px 6px #ccc;
}

.styled-form .ant-form-item{
  margin-bottom: 0;
  padding: 0 0.7em 1.3em 0.7em;
}
.styled-form .ant-form-item:hover{
     background-color: #F0F2F5;

}
.styled-form .ant-button-form-item{
 background-color: white !important;
 margin: 1em;
}
 .ant-form-item-label label,.ant-checkbox-wrapper span {
  font-size: 1.2em !important;
  font-weight: 400;
}

.ant-layout-has-sider{
  min-height: 100%;
}

.styled-form-header{
  width: 100%;
  margin: 1rem 0 1.6rem 0;
}
.styled-form-header h3{
  font-size: 1.5rem;
  text-align: center;
}

.steps-settings-card-wrapper{
  font-size: 1em;
  margin: 1.7em 0 1.4em 1.6em ;
}
.steps-settings-card-wrapper .ant-card-cover{
  padding: 1em;
}

.steps-settings-card-wrapper  img{
  display: block;
  width: 100%;
  height: auto;
}
.steps-settings-card-wrapper .ant-card-body{
  padding: 1em 0.1em 1em 0.1em;
}

.steps-settings-card-wrapper header {
  margin: 0 1em 1em  0;
}

.steps-settings-card-wrapper .description {
  margin:  1em 0 1em 0;
}